.navbar {
    background-color: dimgray;
    color: white;
    padding: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.menu a {
    color: lightslategray;
    text-decoration: none;
    cursor: pointer;
}

.menu a:hover {
    color: white;
    text-decoration: underline;
}

.home {
    font-weight: bold;
    font-size: 2rem;
}

.articles {
    font-weight: bold;
    font-size: 1.2rem;
}

.new-template {
    font-weight: bold;
    font-size: 1.2rem;
    color: gray
}

.new-reactive {
    font-weight: bold;
    font-size: 1.2rem;
    color: gray;
}