<div class="navbar">
    <ul class="menu">
        <li class="home">
            <a (click)="goToSection('home')">
                Inicio
            </a>
        </li>
        <li class="articles">
            <a (click)="goToSection('articles')">
                Artículos
            </a>
        </li>
        <li class="new-template">
            <a (click)="goToSection('new-template')">
                Nuevo artículo template
            </a>
        </li>
        <li class="new-reactive">
            <a (click)="goToSection('new-reactive')">
                Nuevo artículo reactivo
            </a>
        </li>
    </ul>
</div>
